<div class="separador"></div>
<div class="contenedor">
    <div class="imagen">
        <img class="imagen-2" src="../../../../assets/imagenes-landing/estadisticas-de-tareas-y-ots.png">
    </div>
    <div class="texto">
        <h1 class="titulo"><u>DESCUBRE EL MANTENIMIENTO <br>INTELIGENTE DEL FUTURO</u></h1>
        <span class="linea"></span>
        <p class="parrafo">Con GM-FRVT podrás planificar
            <br>mantenimientos preventivos, crear
            <br>OT’s de forma sencilla y digitalizada y
            <br>plasmar toda la información de tus
            <br>activos en la nube sincronizada en
            <br>tiempo real.
        </p>
    </div>
</div>