.not-found-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    width: 100%;
    min-height: 52vh;
    background: rgb(4,46,149);
    background: radial-gradient(circle, rgb(167, 175, 196) 0%, rgba(148,215,233,1) 100%);
    background-size: cover;
    background-position: center;
    color: #333;
    padding: 20px;
    gap: 30px;
    font-family: 'Poppins', sans-serif;
}

.mensaje {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 40px;
    border-radius: 15% 3% 15% 3%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    max-width: 600px;
    text-align: center;
}

.mensaje h1 {
    font-size: 2.8rem;
    font-weight: bold;
    color: #00334e;
    margin-bottom: 15px;
}

.mensaje h2 {
    font-size: 1.8rem;
    color: #444;
    margin-bottom: 20px;
}

.mensaje .descripcion p {
    font-size: 1.3rem;
    color: #333;
    line-height: 1.8;
    margin-top: 10px;
}