.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    width: 100%;
    min-height: 52vh;
    background: radial-gradient(circle, rgb(167, 175, 196) 0%, rgba(148, 215, 233, 1) 100%);
    color: #333333;
    padding: 20px;
    gap: 20px;
    font-family: 'Poppins', sans-serif;
}