<div class="container">
    <div class="izquierda">
        <p>Código Único de Identificación Activo:</p>
    </div>
    <div class="derecha">
        <select name="num" id="selector" [(ngModel)]="selectorcodigo">
            <option *ngFor="let CodigoActivo of CodigoActivo" [value]="CodigoActivo"> {{ CodigoActivo.abreviatura_activo+ CodigoActivo.edificio_id_formateado+ CodigoActivo.piso_id_formateado+ CodigoActivo.sector_id_formateado+ CodigoActivo.activo_id_formateado+ CodigoActivo.ubicacion_id_formateado+ CodigoActivo.id_cantidad}} </option>
        </select>
    </div>
</div>