.container {
    width: 100%;
    height: 8.3%;
    padding: 0;
    margin: 0;     
    display: flex;
}

.izqueirda {
    width: 80%;
    height: 100%;
    background-color: rgb(194, 202, 209); 
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 20px;
    text-align: center;
    border: 1.5px solid rgb(5, 5, 5);
}

.izqueirda p {
    font-size: 14.3px;
    color: black;
    text-align: center;
    margin-top: 10px;
}

.derecha {
    font-size: 14.3px;
    width: 20%;
    height: 100%;
    background-color: #FFFFFF;
    border: 1px solid #c5bebe;
    border-radius: 0px 5px 5px 0px;
}

.derecha  #selector {
    width: 100%; 
    height: 100%;
    background-color: #FFFFFF;
    border: 1px solid #c5bebe;
    border-radius: 0px 5px 5px 0px;
}

option {
    width: 100%;
    height: 300px;
    background-color: rgb(255, 255, 255);
    
}