<div class="container">
    <div class="izqueirda">
     <p>Inspección = 1 // Mant. Prev. Planif. = 2  // Planif. NO Period. = 3 // NO Planificado = 4</p>
    </div>
    <div class="derecha">
        <select name="tareaxactivo" id="selector" [(ngModel)]="selectortareaxactivo">
            <option *ngFor="let tareaxaxtivos of tareaxaxtivos" [value]="tareaxaxtivos.descripcion">
                {{ tareaxaxtivos.id_tareaxactivo }}
              </option>
          </select>
          
    </div>
 </div>