<div class="form-tarea-container">
  <h2>Formulario de Tarea</h2>

  <div class="form-group">
    <label for="id_tarea">ID Tarea:</label>
    <input type="number" id="id_tarea" [(ngModel)]="tarea.id_tarea" name="id_tarea" required readonly />
  </div>

  <div class="form-group">
    <label for="descripcion">Descripción:</label>
    <input type="text" id="descripcion" [(ngModel)]="tarea.descripcion" name="descripcion" required />
  </div>

  <div class="form-group">
    <label for="existencia">Existencia:</label>
    <select id="existencia" [(ngModel)]="tarea.existencia" name="existencia" required>
      <option *ngFor="let existencia of existencias" [value]="existencia">
        {{ existencia.nombre }}
      </option>
    </select>
  </div>

  <div class="form-actions">
    <button type="button" (click)="volver()">Volver</button>
    <button type="button" (click)="crear()">Crear</button>
    <button type="button" (click)="editar()">Editar</button>
    <button type="button" (click)="eliminar()">Eliminar</button>
    <button type="button" (click)="limpiarFormulario()">Limpiar</button>
  </div>

  <div class="lista-tareas-container">
    <h2>Lista de Tareas</h2>
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>ID Tarea</th>
            <th>Descripción</th>
            <th>¿Existe?</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let tarea of paginadoSectores" (click)="seleccionarTarea(tarea)">
            <td>{{ tarea.id_tarea }}</td>
            <td>{{ tarea.descripcion }}</td>
            <td>{{ tarea.existencia }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="pagination-controls">
    <button (click)="prevPage()" [disabled]="currentPage === 0">Anterior</button>
    <span>Página {{ currentPage + 1 }} de {{ Math.ceil(tareas.length / itemsPerPage) }}</span>
    <button (click)="nextPage()" [disabled]="currentPage >= (tareas.length / itemsPerPage) - 1">Siguiente</button>
  </div>
</div>