<section class="register">
    <div class="container">
        <div class="container-logo">
            <div class="flex">
                <div class="barra"></div>
                <div class="circulo">
                    <input 
                    #fileInput 
                    type="file" 
                    (change)="onImageSelected($event)" 
                    accept="image/*" 
                    >
                  <img *ngIf="imageUrl" [src]="imageUrl" alt="Imagen de Perfil" class="img-circular" />
                  <span *ngIf="!imageUrl"></span> <!-- Muestra el '+' si no se ha cargado ninguna imagen -->
                </div>
                <div class="barra"></div>
            </div>
        </div>
        <h4>Registrarse</h4>
        <form (submit)="register()">
            <div class="mb-3">
                <input matInput 
                type="text" 
                id="nombre" 
                class="form-control" 
                name="nombre"
                placeholder="Nombre"
                    [(ngModel)]="user.nombre" 
                    required/>
            </div>
            <div class="mb-3">
                <input matInput 
                type="email" 
                id="email" 
                class="form-control" 
                name="email"
                placeholder="Email"
                    [(ngModel)]="user.email" 
                    required/>
            </div>
            <div class="mb-3">
                <input matInput
                type="password"
                id="password"
                class="form-control" 
                name="password"
                    placeholder="Password" 
                    [(ngModel)]="user.contrasena" 
                    required />
            </div>
            <div class="mb-3">
                <input matInput
                type="password" 
                id="confirmPassword"
                class="form-control" 
                name="confirmPassword"
                    placeholder="Confirmar password" 
                    [(ngModel)]="user.confirmPassword" 
                    required />
            </div>
            <div class="mb-3">
                <label for="tipo_Usuario">Rol:
                    <select                   
                    [(ngModel)]="user.tipo_usuario"
                    name="tipo_Usuario" 
                    id="tipo_Usuario">
                    <option *ngFor="let role of roles" [value]="role">
                        {{ role | uppercase }}
                    </option>
                </select>
                </label>
            </div>
            <div class="remember-me mb-4">
                <div class="remember-me-container">
                    <input type="checkbox" id="rememberMe" name="rememberMe" />
                    <label for="rememberMe">Recuerdame</label>
                </div>
            </div>
            <input type="submit" value="Ingresar" class="btn btn-primary btn-ingresar" />
        </form>
        <div class="signup-link mt-2">
            <!-- <a href="#" (click)="goToLogin(); $event.preventDefault();">¿Ya tienes cuenta? <b>Logueate</b></a> -->
        </div>
      
    </div>
</section>