<section class="register">
    <div class="container">
        <div class="container-logo">
            <div class="flex">
                <div class="barra"></div>
                <div class="circulo"></div>
                <div class="barra"></div>
            </div>
        </div>
        <h4>Ingresar</h4>
        <form (submit)="register()">
            <div class="mb-3">
                <input matInput 
                type="email" 
                id="email" 
                class="form-control" 
                name="email"
                 placeholder="Email"
                    [(ngModel)]="user.email" 
                    required
                     />
            </div>
            <div class="mb-3">
                <input matInput
                 type="password"
                  id="password"
                   class="form-control" 
                   name="password"
                    placeholder="Password" 
                    [(ngModel)]="user.password" 
                    required
                     />
            </div>
            <div class="mb-3">
                <input matInput
                 type="password" 
                 id="password"
                  class="form-control" 
                  name="cnfirmPassword"
                    placeholder="Confirmar password" 
                    [(ngModel)]="user.confirmPassword" 
                    required />
            </div>
            <div class="remember-me mb-4">
                <div class="remember-me-container">
                    <input type="checkbox" id="rememberMe" name="rememberMe" />
                    <label for="rememberMe">Recuerdame</label>
                </div>
            </div>
            <input type="submit" value="Ingresar" class="btn btn-primary btn-ingresar" />
        </form>
        <div class="signup-link mt-2">
            <a href="#" (click)="goToLogin(); $event.preventDefault();">¿Ya tienes cuenta? <b>Logueate</b></a>
        </div>
    </div>
</section>