.register {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90%;
    padding: 10px;
    background-color: white;
}

.container {
    width: 520px;
    max-width: 520px;
    border-radius: 8px;
    padding: 32px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    gap: 20px;
    box-sizing: border-box;
    border: solid 1px #dcdcdc;
}

.register h4 {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 6px;
    margin-top: 0px;
    width: 100%;
    color: #10608f;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.circulo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-image: url(../../../assets/img/login-img/person-circle.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    aspect-ratio: 1/1;
}

.circulo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.barra {
    width: 100%;
    height: 6px;
    background-color: black;
}

.form-container {
    width: 100%;
    height: auto;
}

.form {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

input:focus,
select:focus {
    outline: none;
    border-color: #079dfb;
}

.bton {
    width: 100%;
    align-items: center;
    justify-content: center;
}

.btn-ingresar {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: #10608f;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 0px 10px 0px 10px;
    cursor: pointer;
}

.btn-ingresar:hover {
    background-color: var(--primary-hover);
    color: #333333;
    transform: translateY(-5px);
    border: 1px #333333 solid;
}

.signup-link {
    text-align: center;
    margin-top: 10px;
}

.signup-link a {
    color: #079dfb;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .register .container {
        padding: 16px;
    }

    .register h4 {
        font-size: 20px;
    }

    .circulo {
        width: 80px;
        height: 80px;
    }

    .flex {
        width: 100%;
    }
}