.container {
    width: 100%;
    height: 15%;
    padding: 0;
    margin: 0;
    display: flex;
}

.izquierda {
    width: 50%;
    height: 100%;
    background-color: #47a6ff;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 20px;
    text-align: center;
    border: 1px solid #185b99;
    border-radius: 5px 0px 0px 5px;
}

.izquierda p {
    font-size: 20px;
    color: black;
    text-align: center;
    margin-top: 10px;
}

.derecha {
    width: 50%;
    height: 100%;
    background-color: #FFFFFF;
    border: 1px solid #c5bebe;
    border-radius: 0px 5px 5px 0px;
}

.derecha  #selector {
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    border: 1px solid #c5bebe;
    border-radius: 0px 5px 5px 0px;
}

option {
    width: 100%;
    height: 300px;
    background-color: aqua;
}