<footer class="footer">
    <div class="container">
        <div class="sides">
            <div class="left-side">
                <div class="logo-desc">
                    <app-footer-logo></app-footer-logo>
                    <div class="texto-container">
                        <h1 class="titulo-principal">Universidad Tecnológica Nacional</h1>
                        <h2 class="subtitulo">Facultad Regional Venado Tuerto</h2>
                    </div>
                </div>
            </div>
            <div class="right-side">
                <app-footer-data></app-footer-data>
            </div>
        </div>
        <div class="copyright">
            <h2>© UTN FRVT 2024</h2>
            <span>(03462) 431013 / 425534 - Venado Tuerto Santa Fe Argentina</span>
        </div>
    </div>
</footer>