.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    background: rgb(255, 255, 255);
    background: linear-gradient(to top, rgba(148,215,233,1), rgb(170, 200, 204), rgba(148,215,233,1));
    background-size: cover;
    background-position: center;
    padding: 20px;
    gap: 30px;
}

.central-content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    width: 100%;
    max-width: 600px;
}

.central-content button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #ffffff;
    background-color: #10608f;
    border: none;
    border-radius: 0px 15px 0px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    width: 250px;
    height: 90px;
    text-align: center;
    overflow: hidden;
}

.central-content button img {
    width: 32px;
    height: 32px;
    margin-right: 10px;
}

.central-content button:hover {
    background-color: var(--primary-hover);
    color: #333333;
    transform: translateY(-5px);
}

@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    p {
        font-size: 1rem;
    }

    .central-content {
        flex-direction: column;
        align-items: center;
    }

    .central-content button {
        width: 80%;
        margin: 5px 0;
    }
}
