<div class="home-container">
  <div class="central-content">
    <button routerLink="/ordenTrabajo">
      <img src="../../../assets/img/home-img/crear_ot.png" alt="GenerarOt">Orden de Trabajo</button>
    <button routerLink="/formOT">
      <img src="../../../assets/img/home-img/ot.png" alt="Órdenes de Trabajo">Órdenes de Trabajo
    </button>
    <button routerLink="/formActivo">
      <img src="../../../assets/img/home-img/activo.png" alt="Activos">Activos
    </button>
    <button routerLink="/formEdificio">
      <img src="../../../assets/img/home-img/edificio.png" alt="Edificios">Edificios
    </button>
    <button routerLink="/formPiso">
      <img src="../../../assets/img/home-img/piso.png" alt="Pisos">Pisos
    </button>
    <button routerLink="/formSector">
      <img src="../../../assets/img/home-img/sector.png" alt="Sector">Sectores
    </button>
    <button routerLink="/formUbicacion">
      <img src="../../../assets/img/home-img/ubicacion.png" alt="Ubicacion">Ubicación
    </button>
    <button routerLink="/formUsuarios">
      <img src="../../../assets/img/home-img/usuario.png" alt="Usuarios">Usuarios
    </button>
    <button routerLink="/formTareas">
      <img src="../../../assets/img/home-img/tarea.png" alt="Tareas">Tareas
    </button>
    <button routerLink="/formActivoTareas">
      <img src="../../../assets/img/home-img/activo-tarea.png" alt="Activo-Tarea">Activos con Tareas
    </button>
    <button routerLink="/formLabor">
      <img src="../../../assets/img/home-img/labor.png" alt="Labor">Labores</button>
  </div>
</div>