<div class="home-container">
  <nav>
      <ul>
        <li><a routerLink="/ordenTrabajo">Orden de Trabajo</a></li>
        <li><a routerLink="/formOT">Órdenes de Trabajo</a></li>
        <li><a routerLink="/formActivo">Activos</a></li>
        <li><a routerLink="/formEdificio">Edificios</a></li>
        <li><a routerLink="/formPiso">Pisos</a></li>
        <li><a routerLink="/formSector">Sectores</a></li>
        <li><a routerLink="/formUbicacion">Ubicación</a></li>
        <li><a routerLink="/formUsuarios">Usuarios</a></li>
        <li><a routerLink="/formTareas">Tareas</a></li>
      </ul>
  </nav>
</div>
