<div class="central-container">

  <div class="cards">
    <h1>Órdenes de Trabajo Terminadas</h1>
    <div *ngIf="ordenesTerminadas.length > 0; else noOrdenes">
      <div *ngFor="let orden of ordenesTerminadas" class="orden-card" (click)="seleccionarOrden(orden)"
        [class.selected]="ordenSeleccionada === orden">
        <p><strong>Nro Orden:</strong> {{ orden.id_ot }}</p>
        <p><strong>Descripción:</strong> {{ orden.descripcion }}</p>
        <p><strong>Operador:</strong> {{ orden.nombre_operario }}</p>
        <p><strong>Estado:</strong> {{ orden.estado_orden }}</p>
        <p><strong>Fecha de Creación:</strong> {{ orden.fecha_creacion | date }}</p>
        <p><strong>Fecha de Realización:</strong> {{ orden.fecha_finalizacion | date }}</p>
        <p><strong>Tiempo Inicial:</strong> {{ orden.tiempo_inicio }}</p>
        <p><strong>Tiempo Final:</strong> {{ orden.tiempo_finalizacion }}</p>

        <div *ngIf="ordenSeleccionada === orden" class="boton-seleccionar">
          <button class="seleccionar" (click)="redirigirAOrden()">Seleccionar</button>
        </div>
      </div>
    </div>

  </div>

  <ng-template #noOrdenes>
    <div class="no-orden">
      <p>No hay órdenes de trabajo terminadas.</p>
    </div>
  </ng-template>
</div>