.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: rgb(4,46,149);
    background: radial-gradient(circle, rgba(4,46,149,1) 0%, rgba(148,215,233,1) 100%);
    background-size: cover;
    background-position: center;
    color: #333;
    padding: 20px;
}

.home-container h1 {
    font-size: 2rem;
    color:  rgba(255, 255, 255, 0.9);
    margin-bottom: 20px;
    text-align: center;
}

.button-container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 10px 0;
}

nav ul li a {
    display: inline-block;
    width: 200px;
    padding: 10px;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    color: #ffffff;
    background-color: #007bff;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #0056b3;
}

@media (max-width: 600px) {
    .home-container h1 {
        font-size: 1.5rem;
    }
}