<app-menu></app-menu>
<div class="home-container">
    <h1>Bienvenido a gestion de Mantenimiento</h1>
    <h2>Le Brindamos un Sistema de Gestión de Mantenimiento Integral para la UTN</h2>
    <p> Nuestro objetivo es garantizar el funcionamiento continuo y eficiente de las instalaciones y equipos de la facultad. Con nuestro sistema, podrás llevar un control ordenado y preciso de los trabajos de mantenimiento, asegurando una planificación adecuada y un soporte preventivo que te permita enfocarte en las actividades académicas y operativas, mientras nos encargamos de la gestión y el seguimiento del mantenimiento.</p>

    <nav>
        <ul>
            <li><a routerLink="/login">Iniciar Sesión</a></li>
            <li><a routerLink="/register">Registrarse</a></li>
        </ul>
    </nav>
</div>
<app-footer></app-footer>