<div class="home-container">
    <h1>Bienvenido a la Página Principal de Mantenimiento</h1>
    <h2>¿Qué desea hacer?</h2>
    <nav>
        <ul>
            <li><a routerLink="/login">Iniciar Sesión</a></li>
            <li><a routerLink="/register">Registrarse</a></li>
        </ul>
    </nav>
</div>

            <!--<li><a routerLink="/ordenTrabajo">Orden de Trabajo</a></li>
            <li><a routerLink="/formActivo">Formulario Activo</a></li>
            <li><a routerLink="/formEdificio">Formulario Edificio</a></li>
            <li><a routerLink="/formPiso">Formulario Piso</a></li>
            <li><a routerLink="/formSector">Formulario Sector</a></li>
            <li><a routerLink="/formUbicacion">Formulario Ubicación</a></li>
            -->