<div class="container">
    <div class="izquierda">
        <p>Fecha de impresión:</p>
    </div>
    <div class="derecha-flex">
        <p>fecha de realizacion</p>
        <div class="linea"></div>
        <div class="fecha">
            <input type="date" class="form-control form-control-sm" id="colFormLabelSm" placeholder="col-form-label-sm">
        </div>
    </div>
</div>
<div class="container">
    <div class="izquierda">
        <p>Tiempo de realización:</p>
    </div>
    <div class="derecha-flex">
        <p>Terea realizada por: </p>
        <div class="linea"></div>
        <div class="operario">
            <p>Pablo</p>
        </div>
    </div>
</div>