.banner-container {
    justify-content: space-between;
    align-items: center;
    display: flex;
    width: 100%;
    height: 10%;
    background-color: rgb(208, 208, 208);
    padding: 0;
    margin: 0;
    color: black;
    font-size: 16px;
}

.container-izquierda,
.container-derecha {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    height: 100%;
}


.container-izquierda>*,
.container-derecha>* {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    background-color: rgb(208, 208, 208);
    height: 50%;
}