.container {
    width: 100%;
    height: 200px;
    margin-top: 10px;
}

form {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #0c486c;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border: solid 1px #000000;
}

.Codigo-Container,
.activo-container,
.edificio-container,
.sector-container,
.piso-container,
.ubicacion-container {
    width: 400px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px 5px 5px 5px;

}

.izquierda {
    width: 40%;
    height: 100%;
    background-color: #90a6bb;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid #000000;
    border-radius: 5px 0px 0px 5px;

}

.izquierda p {
    font-size: 20px;
    color: black;
    text-align: center;
    padding-top: 15px;
}

.derecha {
    width: 60%;
    height: 100%;
    background-color: #FFFFFF;
    border: 1px solid #c5bebe;
    border-radius: 0px 5px 5px 0px;
}

#códigoÚnico,
#activo,
#edificio,
#sector,
#piso,
#ubicacion {
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    border: 1px solid #c5bebe;
    border-radius: 0px 5px 5px 0px;
    padding-left: 5px;
}

@media (max-width: 768px) {
    .container {
        width: 100%;
        height: auto;
        box-sizing: border-box;
        overflow-y: visible;
    }

    form {
        width: 100%;
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .Codigo-Container,
    .activo-container,
    .edificio-container,
    .sector-container,
    .piso-container,
    .ubicacion-container {
        width: 100%;
        height: 30px;
    }

    .izquierda,
    .derecha {
        width: 100%;
        height: 100%;
        text-align: center;
    }

    .izquierda p {
        font-size: 16px;
    }

    #códigoÚnico,
    #activo,
    #edificio,
    #sector,
    #piso,
    #ubicacion {
        height: auto;
        padding-top: 0px;
        font-size: 14px;
    }
}