.login {
    display: flex;
    width: 100%;
    height: auto;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    justify-content: center;
    padding: 17px;
    align-items: center;
    background-color: transparent;
    border-radius: 5%;
}

.login .container {
    width: 520px;
    max-width: 520px;
    background-color: transparent;
    border-radius: 8px;
    padding: 32px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid whitesmoke;
}

.login .container h4 {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 16px;
    margin-top: 0px;
    width: 100%;
    color: whitesmoke;
}

.login .container .flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login .container .circulo {
    width: 300px;
    height: 100px;
    border-radius: 50%;
    background-image: url(../../../assets/img/login-img/person-circle.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: transparent;
}

.login .container .barra {
    width: 100%;
    height: 6px;
    background-color: black;
}

.login .container form {
    width: 100%;
    background-color: transparent;
}

.login .container .form-label {
    font-weight: bold;
    margin-bottom: 8px;
}

.login .container .form-control {
    width: 100%;
}

.login .container .mb-3 {
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.login .container .mb-3 input {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    transition: border-color 0.3s;
    background-color: white;
    color: black;
}

.mb-3 input::-webkit-input-placeholder {
    color: black;
}

.mb-3 input::-ms-input-placeholder {
    color: black;
}

.login .container .mb-3 input:focus {
    outline: none;
    border-color: #079dfb;
}

.login .container .btn-primary {
    background-color: #47a6ff;
    border: none;
    padding: 12px;
    font-size: 14px;
    border-radius: 6px;
    color: whitesmoke;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login .container .btn-primary:hover {
    background-color: #009dff;
}

.login .container .btn-ingresar {
    margin-bottom: 24px;
    width: 100%;
}

.login .container .forgot-password,
.login .container .signup-link {
    display: flex;
    justify-content: center;
    font-size: 14px;
    color: #666666;
}

.login .container .remember-me {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 24px;
    color: whitesmoke;
}

.remember-me label {
    padding-left: 5px;
    position: relative;
    bottom: 1.5px;
}

a {
    color: white;
}

@media (max-width: 768px) {
    .login .container {
        width: 90%;
        padding: 16px;
        margin: -1.5px;
    }

    .login .container h4 {
        font-size: 24px;
    }

    .login .container .circulo {
        width: 300px;
        height: 100px;
    }

    .login .container form {
        width: 100%;
    }
}

/* Móviles (menor o igual a 480px) */
@media (max-width: 480px) {
    .login {
        margin: 20px 0;
    }

    .login .container {
        padding: 12px;
        margin: 1.7vh 0vh;
    }

    .login .container h4 {
        font-size: 18px;
    }

    .login .container .circulo {
        width: 100px;
        height: 100px;
    }

    .barra {
        display: none;
    }

    .login .container .mb-3 input {
        padding: 10px;
        font-size: 14px;
    }

    .login .container .btn-primary {
        padding: 10px;
        font-size: 12px;
    }
}
