.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.containerLabor {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.izquierda {
    width: 80%;
    height: 100%;
    background-color: #0c486c;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
    text-align: center;
    border: 2px solid rgb(5, 5, 5);
}

.izquierda p {
    font-size: 14.3px;
    color: white;
    text-align: center;
    margin-top: 10px;
    padding-left: 30%;
}

.derecha {
    font-size: 14.3px;
    width: 20%;
    height: 100%;
    border: 1px solid #000000;
}

.derecha #selector {
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    border: 3px solid #c5bebe;
    border-radius: 0px 5px 5px 0px;
}

option {
    width: 100%;
    height: 300px;
    background-color: rgb(255, 255, 255);

}

.instrucciones {
    width: 100%;
    height: 40px;
    padding: 10px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-color: #0c486c;
    color: white;
    border: 2px solid rgb(5, 5, 5);
}

.containerTareas {
    width: 100%;
    height: 100%;
    min-height: 40vh;
    background-color: #f0f4f8;
    display: flex;
    justify-content: left;
    border: 2px solid rgb(5, 5, 5);
}

.lista-tareas {
    list-style-type: none;
    padding-left: 0;
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.7;
}

.lista-tareas li {
    position: relative;
    margin: 5px;
    padding-left: 25px;
}

.lista-tareas li::before {
    content: attr(data-index);
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f4f8;
    color: #000000;
    font-weight: bold;
    border-radius: 4px;
}

@media (max-width: 768px) {
    .containerLabor {
        width: 100%;
        height: auto;
        flex-direction: column;
    }

    .izquierda {
        width: 100%;
        height: 40px;
    }

    .izquierda p {
        padding: 0%;
    }

    .derecha {
        width: 100%;
        height: 30px;
        border-radius: 0px 0px 0px 0px;
    }
}