.container {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
}

.fecha-inicial {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 33%;
    height: 100%;
    background-color: #0c486c;
    color: white;
    box-sizing: border-box;
    border: solid 1px #000000;
}

.inicio {
    width: 50%;
    height: 100%;
    font: bold;
    padding-top: 10px;
    font-size: 18px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inicio-selector {
    width: 50%;
    height: 100%;
    font-size: 14px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    border: solid 3px #c5bebe;
    border-radius: 0px 3px 3px 0px;
}

.fecha-final {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 33%;
    height: 100%;
    background-color: #0c486c;
    color: white;
    box-sizing: border-box;
    border: solid 1px #000000;
}

.fin {
    width: 50%;
    height: 100%;
    font: bold;
    padding-top: 10px;
    font-size: 18px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.final-selector {
    width: 50%;
    height: 100%;
    font-size: 14px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    border: solid 3px #c5bebe;
    border-radius: 0px 3px 3px 0px;
}

.operario {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 33%;
    height: 100%;
    background-color: #0c486c;
    color: white;
    box-sizing: border-box;
    border: solid 1px #000000;
}

.operario-selector {
    width: 50%;
    height: 100%;
    font: bold;
    padding-top: 10px;
    font-size: 18px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#operarios {
    width: 50%;
    height: 100%;
    font-size: 14px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    border: solid 3px #c5bebe;
    border-radius: 0px 3px 3px 0px;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        height: 100%;
    }

    .fecha-inicial,
    .fecha-final,
    .operario {
        width: 100%;
        height: 100%;
    }

    .inicio,
    .final-selector,
    .operario-selector,
    .inicio-selector,
    .fin,
    #operarios {
        width: 100%;
        height: 100%;
    }
}