<div class="container">
    <div class="fecha-inicial">
        <div class="inicio">
            <p>Fecha de inicio</p>
        </div>
        <input type="date" class="inicio-selector">
    </div>
    <div class="fecha-final">
        <div class="final-selector">
            <p>Fecha de finalización</p>
        </div>
        <input type="date" class="fin">
    </div>
    <div class="operario">
        <div class="operario-selector">
            <p>Operario</p>
        </div>
        <select name="operarios" id="operarios">Seleccione operario</select>
    </div>
</div>