<div class="form-sector-container">
  <h2>Formulario de Sector</h2>

  <div class="form-group">
    <label for="id_sector">ID Sector:</label>
    <input type="number" id="id_sector" [(ngModel)]="sector.id_sector" name="id_sector" required>
  </div>

  <div class="form-group">
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" [(ngModel)]="sector.nombre" name="nombre" required>
  </div>

  <div class="form-group">
    <label for="id_existencia">Existencia:</label>
    <input type="number" id="id_existencia" [(ngModel)]="sector.id_existencia" name="id_existencia" required>
  </div>

  <div class="form-actions">
    <button type="button" (click)="crear()">Crear</button>
    <button type="button" (click)="editar()">Editar</button>
    <button type="button" (click)="eliminar()">Eliminar</button>
    <button type="button" (click)="limpiarFormulario()">Limpiar</button>
  </div>
  

  <div class="lista-sectores-container">
    <h3>Lista de Sectores</h3>
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>ID Sector</th>
            <th>Nombre</th>
            <th>ID Existencia</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let sector of sectores" (click)="seleccionarSector(sector)">
            <td>{{ sector.id_sector }}</td>
            <td>{{ sector.nombre }}</td>
            <td>{{ sector.id_existencia }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
