.form-usuarios-container {
    max-width: 600px;
    min-height: 75vh;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    font-family: 'Poppins', sans-serif;
}

h2 {
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="text"]:focus,
input[type="email"]:focus {
    border-color: #007bff;
    outline: none;
}

.lista-usuarios-container {
    width: 100%;
    max-width: 800px;
    min-height: 50vh;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.table-container {
    width: 100%;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

th {
    background-color: #0c486c;
    color: white;
}

td {
    cursor: pointer;
}

tr:hover {
    background-color: #0c486c;
    color: white;
}

.volver {
    position: absolute;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    background-color: #0c486c;
}

button:hover {
    background-color: #0056b3;
}

.pagination-controls {
    display: flex;
    justify-content: space-around;;
    text-align: center;
    margin-top: 0px;
}

.pagination-controls button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    background-color: #0c486c;
}

.pagination-controls button:hover {
    background-color: #0056b3;
}


span{
    margin-top: 8px;
}

@media (max-width: 600px) {

    th,
    td {
        padding: 8px;
        font-size: 14px;
    }

    h2 {
        font-size: 18px;
    }
}