<div class="form-usuarios-container">
  <h2>Usuarios</h2>

  <div class="lista-usuarios-container">
    <button class="volver" type="button" (click)="volver()">Volver</button>
    <h2>Lista de Usuarios</h2>
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Email</th>
            <th>Tipo de Usuario</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let usuario of paginadoUsuarios" (click)="seleccionarUsuario(usuario)">
            <td>{{ usuario.nombre || 'Sin nombre' }}</td>
            <td>{{ usuario.email || 'Sin email' }}</td>
            <td>{{ usuario.tipo_usuario || 'Sin tipo' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="pagination-controls">
    <button (click)="prevPage()" [disabled]="currentPage === 0">Anterior</button>
    <span>Página {{ currentPage + 1 }} de {{ totalPages }}</span>
    <button (click)="nextPage()" [disabled]="currentPage >= totalPages - 1">Siguiente</button>
  </div>
</div>