.buscador {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.buscador-input {
    width: 100%;
    max-width: 300px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 25px;
    border: 2px solid #ffffff;
    background-color: #ffffff;
    color: #333333;
    padding-right: 40px;
    box-sizing: border-box;
}

.buscador-input:focus {
    outline: none;
    border-color: #1c4258;
}

.buscador-input::placeholder {
    color: #333333;
}

.buscador-btn {
    position: absolute;
    right: 21%;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 1;
}

.lupa-icon {
    width: 20px;
    height: 20px;
    object-fit: contain;
}