.separador {
    width: 100%;
    height: 5px;
    background-color: #D9D9D9;
}

.contenedor {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 500px;
    background-color: white;
    color: black;
    padding: 10px;
}

.texto {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 497px;
    justify-content: top;
    align-items: center;
    padding: 50px;
}

.titulo {
    font: bold;
    font-size: 36px;
    text-decoration: underline;
    color: black;
    margin-bottom: 15px;
    text-align: justify;
    text-align-last: center;
}

.linea {
    width: 588px;
    height: 2px;
    border: 1px solid black;
}

.parrafo {
    justify-content: center;
    align-items: center;
    text-align: justify;
    text-align-last: center;
    color: black;
    font-size: 32px;
    padding: 20px;
}

.imagen {
    width: 50%;
    justify-items: center;
    align-items: center;
    padding-top: 15px;
}

.imagen-3 {
    width: 100%;
    height: 492px;
}

@media (max-width: 768px) {
    .separador {
        height: 3px;
    }

    .contenedor {
        flex-direction: column;
        height: auto;
    }

    .texto {
        width: 100%;
        height: 250px;
        order: 1;
        padding: 15px;
    }

    .imagen {
        width: 100%;
        order: 2;
        padding-top: 10px;
    }

    .imagen-3 {
        width: 100%;
        height: auto;
    }

    .linea {
        width: 80%;
    }

    .titulo {
        font-size: 28px;
    }

    .parrafo {
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    .titulo {
        font-size: 24px;
    }

    .linea {
        width: 60%;
    }

    .parrafo {
        font-size: 16px;
    }
}
