<div class="separador"></div>
<div class="contenedor">
    <div class="texto">
        <h1 class="titulo"><u>OLVÍDATE DE LAS HOJAS DE <br>CÁLCULO Y DIGITALIZA TU <br>MANTENIMIENTO</u></h1>
        <span class="linea"></span>
        <p class="parrafo">Con GM-FRVT tendras un control
            <br>digitilizado y automatizado de tus
            <br>tareas, procesos, recursos y activo.
            <br>Consigue una mayor efectividad en
            <br>el control de los mantenimientos
            <br>preventivos.
        </p>
    </div>
    <div class="imagen">
        <img class="imagen-4" src="../../../../assets/imagenes-landing/pantalla-plan-de-tareas.png">
    </div>
</div>