<div class="form-activo-container">
  <h2>Formulario de Activo</h2>

  <form>
    <div class="form-group">
      <label for="id_activo">ID</label>
      <input type="number" id="id_activo" [(ngModel)]="activo.id_activo" name="id_activo" />
    </div>

    <div class="form-group">
      <label for="nombre">Nombre</label>
      <input type="text" id="nombre" [(ngModel)]="activo.nombre" name="nombre" maxlength="100" />
    </div>

    <div class="form-group">
      <label for="abreviacion">Abreviación</label>
      <input type="text" id="abreviacion" [(ngModel)]="activo.abreviacion" name="abreviacion" maxlength="10" />
    </div>

    <div class="form-group">
      <label for="existencia">Existencia</label>
      <select id="existencia" [(ngModel)]="activo.existencia" name="existencia">
        <option *ngFor="let existencia of existencias" [value]="existencia.nombre">
          {{ existencia.nombre }}
        </option>
      </select>
    </div>

    <div class="form-actions">
      <button type="button" (click)="crear()">Crear</button>
      <button type="button" (click)="editar()">Editar</button>
      <button type="button" (click)="eliminar()">Eliminar</button>
      <button type="button" (click)="limpiarFormulario()">Limpiar</button>
    </div>
  </form>

  <div class="lista-activos-container">
    <h2>Lista de Activos</h2>
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>Activo</th>
            <th>Nombre</th>
            <th>Abreviación</th>
            <th>¿Existe?</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let activo of activos" (click)="seleccionarActivo(activo)">
            <td>{{ activo.id_activo }}</td>
            <td>{{ activo.nombre }}</td>
            <td>{{ activo.abreviacion }}</td>
            <td>{{ activo.existencia }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>