<nav class="navbar">
    <div class="navbar-container">
        <app-logo class="navbar-logo"></app-logo>

        <div class="navbar-links">
            <a class="nav-link active" href="#">Tareas</a>
            <a class="nav-link" href="#">Operarios</a>
        </div>

        <div class="search-input-container">
            <app-buscador (searchTerm)="handleSearch($event)"></app-buscador>
        </div>

        <button class="navbar-toggler" type="button" aria-label="Toggle navigation">
            <span class="navbar-toggler-line"></span>
            <span class="navbar-toggler-line"></span>
            <span class="navbar-toggler-line"></span>
        </button>
    </div>
</nav>